.container {
  display: grid;
  grid-gap: 10px;
  grid-template:
    "header   header   header" auto
    "content  content  side" auto
    "article1 article2 side" auto
    "footer   footer   footer" auto /
    1fr       1fr      300px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: content;
}

.item3 {
  grid-area: side;
}

.item4 {
  grid-area: article1;
}

.item5 {
  grid-area: article2;
}

.item6 {
  grid-area: footer;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BADA55;
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5em;
}

@media(max-width: 900px) {
  .container {
    grid-gap: 10px;
    grid-template:
      "header header" auto
      "side side" auto
      "content content" auto
      "article1 article2" auto
      "footer footer" auto /
      1fr     1fr;
  }
}

@media(max-width: 600px) {
  .container {
    grid-gap: 10px;
    grid-template:
      "header" auto
      "side" auto
      "content" auto
      "article1" auto
      "article2" auto
      "footer" auto /
      1fr;
  }
}
