.container {
  display: grid;
  grid-gap: 10px;
  grid-template:
    "header   header   header"
    "content  content  side"
    "article1 article2 side"
    "footer   footer   footer" /
    1fr       1fr      300px;
}

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: content;
}

.item3 {
  grid-area: side;
}

.item4 {
  grid-area: article1;
}

.item5 {
  grid-area: article2;
}

.item6 {
  grid-area: footer;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BADA55;
  border: 3px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0.5em;
}

@media(max-width: 900px) {
  .container {
    grid-gap: 10px;
    grid-template:
      "header header"
      "side side"
      "content content"
      "article1 article2"
      "footer footer" /
      1fr     1fr;
  }
}

@media(max-width: 600px) {
  .container {
    grid-gap: 10px;
    grid-template:
      "header"
      "side"
      "content"
      "article1"
      "article2"
      "footer" /
      1fr;
  }
}
